.footer-section {
    // background-color: #e4e4e4;
    .footer-width-container {
        position: relative;
        margin: 0 auto;
        p {
            position: absolute;
            top: 59%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .footer-developed-by {
            color: #42a0de;
        }
        .footer-developer-name {
            color: #fff;
        }
    }
}

.background-white {
    background-color: #fff;
}

.background-grey {
    background-color: #e4e4e4;
}